html{
    overflow-x: hidden;
}
body {
    position: relative;
    overflow-x: hidden;

}

footer{
    background: #1b1e21;
}

.navbar{
    box-shadow: 0px 5px 9px #3292a6;
    /*opacity: 0.8; */

}
.navbar .nav-item {
    font-size: 1.2rem;
}

#home .carousel-item{
    height: 100vh;
}

#home h1{
    text-shadow: 1px 1px #3292a6;
}

#photography{

}

#project{
    height: 500px;
    background: #17a2b8;
}

.carousel-image-1{
    background: url("../img/imgL/iceberg.jpg");
    background-size: cover;
}

.carousel-image-2{
    background: url("../img/imgL/camping.jpg");
    background-size: cover;
}

.carousel-image-3{
    background: url("../img/imgL/mountain.jpg");
    background-size: cover;
}

.glow{
    border-bottom: 1px #ccc solid;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#photos img:hover {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;

}

#project1{
    width: 300px;
    height: 155px;
    background: url("../img/thumbnails/hgc.jpg");
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    #photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}

.navbar-brand:hover{
    text-shadow: 1px 1px #3292a6;
    transition: all 0.5s;
}

div.circleBehind a{
    position: relative;
    z-index: 0;
}
div.circleBehind a:before, div.circleBehind a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 25px;
    height: 25px;
    border: 2px solid #3292a6;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.5s;
    z-index: -1;
}

div.circleBehind a:hover
{
    text-shadow: 1px 1px #3292a6;
    font-size: 20px;
}
div.circleBehind a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(2);
}

div.circleBehind a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}




