body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    background-color: white;
}
footer{
    margin-top: -30px;
    width: 100%;
    height: 200px;
    background-color: #1a1a1a;
    text-align: center;
    padding-top: 70px;
    position: relative;
    color: #777;
}

#particles-js{
    background-image: url('../img/galaxy.jpg');
    height: 100vh;
}

#about, #education, #skills, #photography{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#about { /* first background */
    margin: 10px;
    min-height: 600px;
    background-color: white;
}

#education { /* second background */
    background-image: url("../img/bg.jpg");
    min-height: 100vh;
    color: #ffffff;
    padding: 10px 40px 3px 40px;
    text-align: center;
}

#skills { /* third background */
    background-image: url("../img/skills.jpg");
    min-height: 100%;
    padding-top: 10px;
    color: #fff;
}

#photography { /* third background */
    min-height: 100%;
    padding-top: 10px;
    color: #1a1a1a;
}

#quotes{
    background-color: #0099CC;
    height: 200px;
    width: 100%;
    padding-top: 10px;
    color: #fff;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
}




#fb{
    background:url("../img/social_media.png") no-repeat -139px -11px;
}
#fb:hover{
    background:url("../img/social_media_hover.png") no-repeat -139px -11px;
}
#instagram{
    background:url("../img/social_media.png") no-repeat -82px -11px;
}
#instagram:hover{
    background:url("../img/social_media_hover.png") no-repeat -82px -11px;
}
#fb, #instagram{
    width: 37px;
    height: 37px;
    display: inline-block;
    margin: 5px;
}

.edu{
    position: relative;
    margin-bottom:10px;
    padding: 10px;
    line-height: 15px;
    text-align: center;
}

.skill{
    display: inline-block;
    width: 250px;
    height: 50px;
    text-align: left;
}
#skill_con{
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
}
.skill img{
    margin-bottom: -3px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    height: 412px;
}


.icon{
    text-decoration: none;
    font-size: 23px;
    color: black;
}

